files:
    "/usr/local/bin/update_db.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            sudo -s
            source /opt/python/run/venv/bin/activate
            cd  /opt/python/current/app/
            export PATH="/opt/python/run/venv/bin/:$PATH"
            python manage.py db init > log_db_init.txt
            python manage.py db migrate > log_db_migrate.txt
            python manage.py db upgrade > log_db_upgrade.txt

            exit 0

commands:
    update_db_once:
        leader_only: true
        command: "bash /usr/local/bin/update_db.sh"
