{% extends "layout.html" %}
{% block body %}
<script>
  beginOnboarding = function () {
    document.getElementById("onboarding").classList.remove("invisible")
    console.log("wowow")
  }
</script>

  <form method="POST" action="/signup">
    <!-- <div id="beginning"> -->
      {{ form.hidden_tag() }}
      {{ form.email.label }} {{ form.email(size=20) }}
      {{ form.password.label }} {{ form.password(size=20) }}
    <!-- </div> -->
    <!-- <a href="#" onclick="beginOnboarding()">Continue</a> -->
    <!-- <div id="onboarding" class="invisible"> -->
      {{ form.username.label }} {{ form.username(size=20) }}
      {{ form.first_name.label }} {{ form.first_name(size=20) }}
      {{ form.last_name.label }} {{ form.last_name(size=20) }}
      {{ form.cancer_type.label }} {{ form.cancer_type(size=20) }}
      <input type="submit" value="Submit">
    <!-- </div> -->
  </form>

{% endblock %}