{% extends "layout.html" %}
{% block body %}
  <div class='mainbox'>
    <strong>Create Your Account</strong><br>
    <span style="color: #808080; font-size: 12pt;">Sign up to build your memoir and keep track of your condition.</span>
    <br>
  <form method="POST" action="/signup">
      {{ form.hidden_tag() }}
      <br>
      <div class="input-box">{{ form.email(size=20, placeholder="Email") }}</div>
      <div class="input-box"> {{ form.username(size=20, placeholder="Username") }}</div>
      <div class="input-box"> {{ form.password(size=20, placeholder="Password") }}</div>
       <div class="input-box"> {{ form.first_name(size=20, placeholder="First Name") }}</div>
       <div class="input-box">{{ form.last_name(size=20, placeholder="Last Name") }}</div>
       <div class="input-box"> {{ form.cancer_type(size=20, placeholder="Cancer Type") }}</div>
       <br>
      <input type="submit" value="Submit">
  </form>

{% endblock %}
