{% extends "dashboard_layout.html" %}
{% block inner_dashboard %}
  <div class="col memory-col">
      <div class="memory-page">
        <div class="row">
          <input id="title-input" name="title" value="Title">
        </div>
        <textarea></textarea>
        <div class="row">
            <select>
                <option value="childhood">Childhood</option>
                <option value="teen">Teen Years</option>
                <option value="early">Early Adulthood</option>
                <option value="later">Later Adulthood</option>
            </select>
        </div>
        <div class="row right-align">
          <a href="/view_all_memories" class="btn small-btn">Save</a>
        </div>
      </div>
  </div>
{% endblock %}
