{% extends "dashboard_layout.html" %}
{% block inner_dashboard %}
  {% if memoir.type == "portal" %}
  <div class="journal-page portal">
    <p>{{current_user.first_name}}'s</p>
    <p><b>Memoir Collection</b></p>
    <br/>
    <a class="btn" href="/memoir_table_of_contents">Enter</a>
  </div>
  <div class="col margin-bump">
    <a class="btn color-teal" href="submit_memory">Add A Memory</a>
  </div>
  {% elif memoir.type == "directory" %}
    <div class="journal-page">
      <div class="row left-align pad-norm">
        <a href="{{backlink}}">back</a>
      </div>
      <p class="bigger">{{current_user.first_name}}'s <b>Memoir Collection</b></p>
      <br/>
      <p><b>{{memoir.title}}</b></p>
      <hr>
      {% if memoir.sections %}
        {% for section in memoir.sections %}
          {% if section.body %}
            <a href="/view_memoirs/{{section.title}}">{{section.title}}</a>
          {% else %}
            <a href="/memoir_table_of_contents/{{section.title}}">{{section.title}}</a>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>You haven't written any</p>
        <p>memories for this section yet.</p>
        <a href="/submit_memory">Add a memory</a>
      {% endif %}
      <br/>
    </div>
  {% elif memoir.type == "entry" %}
    <div class="entry-invisadiv">
      <div class="entry-page">
        <div class="x"><a href="/memoir_table_of_contents/{{memoir_chapter}}">x</a></div>
        <div class="row">
          <a href="#" class="btn">Edit</a>
          <h4>{{memoir.title}}</h4>
          <a href="#" class="btn btn-ghost">Delete</a>
        </div>
        <p>
            {% autoescape false %}
              {{memoir.body}}
            {% endautoescape %}
        </p>
        <br/>
      </div>
    </div>
  {% endif %}
{% endblock %}
